* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(247, 247, 247);
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

header {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

header .quote {
  text-overflow: ellipsis;
}

main {
  display: flex;
  gap: 20px;
}

.goal-section {
  background-color: antiquewhite;
  width: 50%;
  min-width: 300px;
  min-height: 400px;
  padding: 20px;
}

.goal-text {
  width: 80%;
}

.actions {
  display: flex;
  gap: 5px;
  margin-left: auto;
}

/* 수정 버튼 */
.edit-btn {
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("./assets/pencil.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

/* 삭제 버튼 */
.delete-btn {
  width: 15px;
  height: 15px;
  border: none;
  background-color: transparent;
  background-image: url("./assets/trash.png");
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.goal-section-header,
.todo-section-header {
  display: flex;
  justify-content: space-between;
}

.goal-list {
}

.goal,
.todo {
  display: flex;
}

.goal button,
.todo button {
  margin-left: auto;
}

.todo-section {
  background-color: rgb(134, 134, 255);
  width: 50%;
  min-width: 300px;
  min-height: 400px;
  padding: 20px;
}
